#root {
  margin: 0 auto;
}
input[type="checkbox"]:checked ~ .checkmark {
  background-color: #F9F5FF;
  border-color: #f00;
}

.checkmark:after {
  content: "";
  display: none;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 2px;
  top: 1px;
  width: 2px;
  height: 4px;
  border: solid #7F56D9;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}